body {
   font-family: 'Roboto', sans-serif;
}
p {
   cursor: default;
   display: inline;
}
h4 {
   cursor: default;
}
th {
   padding: 1px 7px;
}
.blackjack-logo {
   width: 35px;
   height: 40px;
}
.info-icon {
   width: 29px;
   height: 29px;
}
.scoreboard {
   background-color: #F8F9FA;
   margin: 0 auto;
   padding-bottom: 5px;
   cursor: default;
}
.dropdown-item {
   cursor: pointer;
}
.game-mode-button {
   /*margin: 0;*/
   /*padding: 0;*/
   margin-top: 2px;
}
.active-tick a::after {
   content: '\f00c'; /* http://fontawesome.io/3.2.1/icon/ok/ */
   font-family: 'FontAwesome';
   float: right;
}
.card-image {
   width: 138px;
   height: 211px;
   -webkit-animation-duration: .3s;
   -moz-animation-duration: .3s;
}
.dealer-area {
   padding: 35px 0px 30px 0px;
}
.user-notification {
   height: 24px;
}
.result-message {
   -webkit-animation-duration: .8s;
   -moz-animation-duration: .8s;
}
.player-area {
   padding: 30px 0px 40px 0px;
}
.action-panel {
   cursor: default;
}
.btn-player-action {
   /*margin: 0 3px;*/
   width: 85px;
}
.left-hand-side {
   /*text-align: right;*/
}
.chart-image {
   height: 24px;
   width: 24px;
}
.reference-card-image {
   height: 24px;
   width: 24px;
}
.btn-modal-buttons {
   display: inline;
}
.strategy-reference-card-body {
   padding: 4px;
}
#dealer-card1 {
   display: inline;
   margin-right: -95px;
   transform: rotate(20deg);
}
#dealer-card2 {
   display: inline;
}
#player-card1 {
}
#player-card2 {
   transform: rotate(20deg);
}
#strategy-reference-card {
   height: 530px;
   width: 396px;
}
#player-actions {
   display: inline;
   padding: 0;
}
#new-deal {
   display: inline;
}
#new-hand-button {
   display: inline;
}
#scorecard-wins {
   color: green;
   font-weight: bold;
   margin: 0 3px;
}
#scorecard-losses {
   color: red;
   font-weight: bold;
   margin: 0 3px;
}
#scorecard-percentage {
   margin: 0 5px;
}
#scorecard-reset {
   color: red;
   margin-left: 15px;
   cursor: pointer;
}

/*@media (min-width: 768px) {
   ul.navbar-nav li.dropdown:hover > .dropdown-menu {
      display: block;
   }
}*/
@media (max-width: 600px) {
   .card-image {
      width: 99px;
      height: 151px;
      -webkit-animation-duration: .5s;
      -moz-animation-duration: .5s;
   }
   .btn-player-action {
      padding: 4px 8px;
   }
   .result-message {
      font-size: 18px;
      -webkit-animation-duration: .5s;
      -moz-animation-duration: .5s;
   }
   #dealer-card1 {
      display: inline;
      margin-right: -75px;
   }
   .user-notification {
      height: 18px;
   }
   .dealer {
      padding: 15px 0px 25px 0px;
   }
   .player {
      padding: 25px 0px 25px 0px;
   }
   #strategy-reference-card {
      height: 369px;
      width: 297px;
   }
}

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {...}*/